.btn-div {
  padding: 2rem;

}
.footer {
  background-color: var(--color-surface-main);
  border-top: 1px solid var(--color-border-soft);
  padding-top: 2rem;
}

.footer__section--primary {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-border-soft);
}

.footer__brand-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.circle {
  background-color: var(--color-bg-soft);
  border: 1px solid var(--color-border-soft);
  border-radius: 9px;
  padding: 0.5rem;
  transition: all 0.2s ease-in;
}

.circle:hover {
  background-color: var(--color-accent-gold);
  transform: scale(1.09);
}



.circle i {
  color: var(--color-text-main);
}

.footer__title {
  padding-bottom: 0.8rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer__social-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__section--secondary {
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--color-border-soft);
}

.footer__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 980px) {
  .footer__title {
    padding-top: 2rem;
  }
  .footer__brand {
    padding-bottom: 1rem;
  }

  .footer__section--secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
  }
}