header {
  background-color: var(--color-bg-main);
}

.navbar {
  border-bottom: 1px solid var(--color-border-soft);
}

.navbar-brand {
  transition: all ease-in 0.5s;
}

.navbar-brand:hover {
  transform: scale(1.03);
}

@media (max-width: 980px) {
  #menu {
    border-top: 1px solid var(--color-border-soft);
  }

  .navbar-nav {
    border-bottom: 1px solid var(--color-border-soft);
  }

  .btn-theme {
    margin: 0.5rem 0rem;
    border-top:1px solid var(--color-border-soft) ;
  }
}
