.skin-info-btn {
    background: linear-gradient(90deg, #c9b36b, #55c9b0) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 1.1rem !important;
    border-radius: 8px !important;
    transition: transform 0.9 ease-in;
}

.skin-info-btn:hover {
    transform: scale(1.09);
}