.about-project {
  background-color: var(--color-surface-main);
  padding: 3rem;
  border-radius: 8px;
  border: 1px solid var(--color-border-soft);
  margin-bottom: 4rem;
  margin-top: 2rem;
  -webkit-box-shadow: 8px 15px 24px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 15px 24px -14px rgba(66, 68, 90, 1);
  box-shadow: 8px 15px 24px -14px rgba(66, 68, 90, 1);
}

.about-project h2 {
  padding-bottom: 1rem;
}
