body {
  background-color: var(--color-bg-soft) !important;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 0;
}

.home-text h1 {
  margin: 0;
}

.gradient-text {
  padding-bottom: 0.75rem;
}

.home-text p {
  max-width: 70%;
  padding-bottom: 1rem;
}


