/* Core */
@import './core/variables.css';
@import './core/reset.css';
@import './core/typography.css';
@import './core/themes.css';

/* Layout */
@import './components/layout/grid.css';
@import './components/layout/header.css';
@import './components/layout/footer.css';

/* Navegação */
@import './components/navigation/menu.css';
@import './components/navigation/navbar.css';

/* Components */
@import './components/ui/badge.css';
@import './components/ui/btn.css';
@import './components/ui/btn-theme.css';
@import './components/ui/select.css';

/* Champion / Carousel */
@import './components/champion/champion-list.css';
@import './components/champion/champion-details.css';
@import './components/champion/champion-card.css';
@import './components/carousel/carousel.css';
@import './components/carousel/carousel-info.css';
@import './components/carousel/carousel-item.css';

/* Pages */
@import './pages/home.css';
@import './pages/about.css';
@import './pages/champions.css';



