/* core */
@import './core/themes.css';
@import './core/reset.css';

/* seções */
@import './domains/layout/header.css';
@import './domains/layout/footer.css';
@import './pages/home.css';
@import './pages/about.css';

/* navegação */
@import './domains/navigation/navbar.css';


/* components */
@import './domains/ui/badge.css';
@import './domains/champion/champion-list.css';
@import './domains/champion/champion-details.css';
@import './domains/champion/champion-card.css';
@import './domains/carousel/carousel-info.css';





.carousel {
  max-width: 1020px;
  max-height: 572px;
  margin: 0 auto;
}

.carousel-item {
  height: 572px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}


@media (max-width: 576px) {
  .carousel-item {
    height: 50vh;
  }
}


