
#skinInfo {
    padding: 1rem;
    border: 1px solid var(--color-border-soft);
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: var(--color-bg-soft);
}

#skinInfo .skininfo__content p {
    color: var(--color-text-main);
    margin: 0;
}

#skinInfo #skinTitle {
    color: var(--color-text-main) !important;
}

#skinInfo {
    align-items: center;
}

